# Ignora o ambiente virtual local
.venv/
venv/
ENV/

# Ignora caches de Python e Spark
**/__pycache__/
**/.pytest_cache/
.ipynb_checkpoints/
.ivy2/

# Ignora os dados (essencial!)
data/
tmp/
*.zip
*.shp
*.dbf
*.shx
*.prj

# Ignora o histórico do Git
.git/
.gitignore

# Ignora arquivos de configuração local
.env